 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .navbar-nav {
    margin-left: auto !important;
  }
  .nav-link {
    font-weight: 500;
  }
  .navbar-brand {
    font-size: 2.25rem;
    font-weight: 700;
    color: #59ab6e !important;
  }
  .navbar {
    background-color: white !important;
  }
  .nav-icons > i {
    margin-right: 10px;
  }
  /* Hero Section */
  .hero-img-container > img {
    width: 350px;
  }
  .hero-section {
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero-text-container > h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  .hero-text-container > h3 {
    color: #59ab6e;
    margin-bottom: 1rem;
    font-size: 2rem;
    }
